<div id="<%= dom_id author %>">
  <p>
    <strong>Name:</strong>
    <%= author.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= author.surname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= author.lastname %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= author.date_of_birth %>
  </p>

</div>
