<div id="<%= dom_id book %>">
  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= book.description %>
  </p>

  <p>
    <strong>Publication year:</strong>
    <%= book.publication_year %>
  </p>

  <p>
    <strong>Genres_id:</strong>
    <%= book.genres_id %>
  </p>

  <p>
    <strong>Library_id:</strong>
    <%= book.library_id %>
  </p>

  <%= image_tag book.image %>

</div>
